body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: black;
    overflow: hidden;
}

#gif {
    position: fixed;
    width: calc(100vw - 50px);
    height: calc(100vh - 140px);
    object-fit: cover;
    inset: 60px 25px 80px 25px;
    border-radius: 10px;
}

#back-gif {
    display: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

#radio-name {
    position: absolute;
    bottom: 30px;
    left: 10px;
    color: white;
    font-family: "VT323";
    font-size: 31px;
}

.button-wrapper {
    display: flex;
    height: max-content;
    position: absolute;
    bottom: 3px;
    left: 10px;
}
.buttons {
    height: 22px;
    width: 22px;
    cursor: pointer;
}




.youtube-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */  
    padding-top: 25px;
    width: 300%; /* enlarge beyond browser width */
    left: -100%; /* center */
}

#player {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    pointer-events: none;
    filter: brightness(60%);
}


.navbar {
    position: absolute;
    top: 0;
    display: flex;
    height: max-content;
    width: 100%;
    justify-content: end;
    z-index: 200;
}

#profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 300;
    margin: 3px 3px 0 0;
    cursor: pointer;
}

#fullscreen-enter, #fullscreen-exit {
    height: 34px;
    width: 34px;
    margin-top: 9.5px;
    margin-right: 5px;
    z-index: 300;
}

#fullscreen-enter:hover, #fullscreen-exit:hover {
    cursor: pointer;
}

.sideMenu {
    display: flex;
position: fixed;
right: 0;
  background-color: red;
  width:100vh;    
  height:21px;
  color: white;
  text-decoration: none;
  font-family: "VT323";
   transform-origin: right bottom;
  transform: rotate(-90deg) scaleY(-1) scaleX(-1) translateX(50%); 
  z-index: 300;
}

.menu-wrapper {
    display: flex;
    position: absolute;
    left: 0;
    width: 100vh;
    padding-left: 33px;
    justify-content: left;
    align-items: center;
    text-align: center;
    transform-origin: right bottom;
    transform: translateX(50%);
    height: max-content;
}
.sideMenu p {
 margin-right:20px;
 float: left;
  font-size: 21px;
  cursor: pointer;
}

.sideMenu p:hover {
    color: #C7C7C7;
}